
#newNote {
    background-color: pink;
    width: 20rem;
    height: 10rem;
    border-radius: 5px;
    border-style: none;
    outline: none;
    overflow: auto;
}

#notes {
    background-color: blanchedalmond;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    border-style: none;
    outline: none;
    overflow: auto;
    /* display: none; */
}

